<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://developers.redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="40px" alt="Red Hat Developer Program"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
       
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About Workshop</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="index.html">Getting Started</a>
            <a class="navbar-item" href="02-agenda.html">Agenda</a>
            <a class="navbar-item" href="03-introduction.html">Workshop Introduction</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Hands-On</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="04-solution-1.html">Product Manager - Monitoring System</a>
            <a class="navbar-item" href="05-solution-2.html">Admin - Connecting ChatOps</a>
            <a class="navbar-item" href="06-solution-3.html">Product Manager - Constructive Decisions</a>
            <a class="navbar-item" href="07-challenge.html">Challenge Lab (Optional)</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Product Pages</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.redhat.com/en/technologies/management/ansible">Red Hat Ansible Automation Platform</a>
            <a class="navbar-item" href="https://www.redhat.com/en/technologies/management/ansible/event-driven-ansible">Red Hat Event-driven Ansible</a>
            <a class="navbar-item" href="https://developers.redhat.com/learn?ref=webconsole">Red Hat OpenShift</a>
            <a class="navbar-item" href="https://developers.redhat.com/topics/kafka-kubernetes">Apache Kafka on Kubernetes</a>
            <a class="navbar-item" href="https://www.redhat.com/en/resources/amq-streams-datasheet">Red Hat AMQ Streams</a>
          </div>
        </div>
       

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Articles</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://medium.com/@miteshget/event-driven-ansible-the-simple-way-to-automate-your-it-processes-3f7bfa57cb9e">Event-Driven Automation</a>
            <a class="navbar-item" href="https://medium.com/@ritz.shah/rocket-chat-setup-configuration-and-working-in-an-openshift-k8s-environment-3b418a3e48c7">Rocket Chat Setup Configuration and Working in an OpenShift</a>
          </div>
        </div>
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Videos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.youtube.com/watch?v=Bt2tZB_5F2U&list=PLdu06OJoEf2a3fFl6uaoyGV526ilwD97R">Event-driven Ansible</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=6MjYPrlOiQA">Event-driven Ansible and Lightspeed</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=1mj_nfgY40E&t=209s">OpenShift + Ansible: Event-Driven PVC Snapshots Made Easy</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=yfXcGB7l0II">Ansible Lightspeed with IBM Watson Code Assistant with IBM Watson Code Assistant</a>
          </div>
        </div>

          <a class="navbar-item" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>


      </div>
    </div>
  </nav>
</header>